body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main_nav li{
  margin: 0 auto;
}

.main_nav li a{
  color: #4a4848;
  letter-spacing: 1px;
  transition: .3s;
}

.main_nav li:hover a{
  color: #000;
}

#socialicons .icon {
  color: darksalmon;
  display: inline-block;
  text-align: center;
  margin: 0 16px 10px;
}

.car-list li{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.car-list ol{
  text-align: center; 
}

.car-brand{
  letter-spacing: 1px;
  color: #969292;
}

.todo-wrapper ul{
  display: inline-block;
  padding: 0;
  text-align: left;
}

li.todo-list{
  list-style: none;
}

.todo-wrapper ul li {
  line-height: 1.8;
  letter-spacing: 1px;
}

.fa-sun{
  color: orange;
}

.add-btn{
  background-color: #E47F5A;
  color: #fff;
}

.add-input{
  border: none;
  border-bottom: 2px solid #E47F5A;
  border-radius: 0!important;
}

input:focus{
  outline: none !important;
  border-color: #C76A48 !important;
  box-shadow: none !important;
}

