body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main_nav li{
  margin: 0 auto;
}

.main_nav li a{
  color: #4a4848;
  letter-spacing: 1px;
  transition: .3s;
}

.main_nav li:hover a{
  color: #000;
}

#socialicons .icon {
  color: darksalmon;
  display: inline-block;
  text-align: center;
  margin: 0 16px 10px;
}

.car-list li{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.car-list ol{
  text-align: center; 
}

.car-brand{
  letter-spacing: 1px;
  color: #969292;
}

.todo-wrapper ul{
  display: inline-block;
  padding: 0;
  text-align: left;
}

li.todo-list{
  list-style: none;
}

.todo-wrapper ul li {
  line-height: 1.8;
  letter-spacing: 1px;
}

.fa-sun{
  color: orange;
}

.add-btn{
  background-color: #E47F5A;
  color: #fff;
}

.add-input{
  border: none;
  border-bottom: 2px solid #E47F5A;
  border-radius: 0!important;
}

input:focus{
  outline: none !important;
  border-color: #C76A48 !important;
  box-shadow: none !important;
}

.hubHeader {
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  line-height: 0.8;
  background-color: #fbfbfb;
}

.hubSmallTitle {
  font-size: 20px;
}

.hubTitle {
  font-size: 50px;
  letter-spacing: 9px;
  margin-bottom: 2%;
}

.hubTitle a:hover{
  color: #595959;
  text-decoration: none;
}

ul.navbar-nav{
  margin: 0 auto;
}

nav.navbar ul.navbar-nav li.nav-item a{
  padding: 3px;
  color: #a6a6a6;
}

nav.navbar ul.navbar-nav li.nav-item a:hover{
  color: #4d4d4d;
  text-decoration: none;
}

a{
  color: #595959;
}

footer{
  clear: both;
  color: #595959;
}

.hubMain{
  margin-top: 3%;
  margin-bottom: 2%;
}

.col-left{
  float: left;
  width: 30%;
  text-align: center;
}

.col-left .col-left_city{
  margin-top: 2%;
  font-size: 23px;
}

.col-right{
  float: left;
  width: 70%;
}

.col-right_value{
  color:  #00ff99;
  font-size: 23px;
}

span.day_forecast{
  padding: 1%;
}

span.day_forecast .day_forecast_date{
  font-size: 17px;
  text-align: center;
  border-bottom: 2px solid  #ffcccc;
}

input.searchCity{
  height: 38px;
  vertical-align: bottom;
}

button{
  cursor: pointer;
}

.hubMain{
  margin-top: 3%;
  margin-bottom: 2%;
}

.col-left{
  float: left;
  width: 40%;
  text-align: center;
}

.col-left .col-left_city{
  margin-top: 2%;
  font-size: 23px;
}

.col-right{
  float: left;
  width: 60%;
}

.col-right_value{
  color: #00ff99;
  font-size: 23px;
}

span.day_forecast{
  padding: 1%;
}

span.day_forecast .day_forecast_date{
  font-size: 17px;
  text-align: center;
  border-bottom: 2px solid #ffcccc;
}

.condition-title{
  border-bottom: 2px solid #3eaedc;
  display: inline-block;
}

.forecast-list{
  line-height: 2.3;
}

